.m-widget19 .m-widget19__content {
    margin-bottom: 2rem;
    background-color: red;
    padding: 5px 0px;
}
.m-portlet .m-portlet__body {
    padding: 2.2rem 0;
}
.m--font-light {
    color: #fff!important;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

.m-portlet__body_topwatch {
	padding: 5px 2.2rem;	
}

.m-page .m-page__container .my_footer{
    padding: 0 30px;
}

video {
    max-width: 100%;
    vertical-align: middle;
}

.fc .fc-toolbar {

    margin-top: 0.75em;
}
.fc .fc-toolbar>*>* {
    float: none;
    margin-left: 0em;
}

body.dark .widget {
    background: #1d1b26;
}
.widget {
    background: #fff;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.1);
    -khtml-box-shadow: 0 2px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.1);
    -ms-box-shadow: 0 2px 3px rgba(0,0,0,.1);
    -o-box-shadow: 0 2px 3px rgba(0,0,0,.1);
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
body.dark .widget .widget-title {
    border-bottom-color: #312f40;
}
.plyr__captions {
    font-size: 200%;
  }
.widget .widget-title {
    border-bottom: 1px solid #eee;
    min-height: 35px;
    padding: 0 10px;
}
* {
    outline: 0;
    text-decoration: none;
}
body.dark .widget .widget-title .title {
    color: #c20000;
}
.widget.servers .widget-title .title {
    margin-right: 10px;
}
.widget .widget-title .title {
    font-size: 1.1em;
    display: inline;
    line-height: 35px;
    color: #c20000;
    font-weight: 600;
    text-transform: uppercase;
}
#footer .azlist ul, #footer .azlist ul li, #footer .main .linkc .links ul, #footer .main .mainc p, #header .nav #menu, #header .nav #menu>li .sub, #header .nav #menu>li .sub>li, .faq ol li .question, .filters .filter .dropdown-menu, .filters .filter li input, .filters .filter li label, .fit, .profile-page .sidebar ul.menu, .tooltipster-sidetip.anime .tooltipster-box .tooltipster-content .inner .desc label, .tooltipster-sidetip.anime .tooltipster-box .tooltipster-content .inner .meta label, .tooltipster-sidetip.anime .tooltipster-box .tooltipster-content .inner .title h1, .widget .widget-title .title, .widget .widget-title .title h1, .widget .widget-title .title h2, .widget .widget-title .title h3, .widget.az-list ul.letters, .widget.az-list ul.letters li, .widget.genres ul, .widget.genres ul li, .widget.info .info .head .title, .widget.servers ul.episodes, .widget.servers ul.episodes li, .widget.slider .item .info p {
    list-style: none;
    margin: 0;
    padding: 0;
}

body.dark .widget .widget-title .tabs .tab.active {
    color: #888;
}
body.dark .widget .widget-title .tabs .tab {
    color: #6f6f6f;
}
.widget.servers .widget-title .tabs .tab {
    margin: 0 4px;
}
.widget .widget-title .tabs .tab.active {
    border-bottom: 2px solid #c20000;
}
.widget .widget-title .tabs .tab {
    display: inline-block;
    padding: 6px 7px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.widget .widget-body {
    padding: 10px;
}

* {
    outline: 0;
    text-decoration: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.widget.servers ul.episodes {
    margin-bottom: 20px;
}
#footer .azlist ul, #footer .azlist ul li, #footer .main .linkc .links ul, #footer .main .mainc p, #header .nav #menu, #header .nav #menu>li .sub, #header .nav #menu>li .sub>li, .faq ol li .question, .filters .filter .dropdown-menu, .filters .filter li input, .filters .filter li label, .fit, .profile-page .sidebar ul.menu, .tooltipster-sidetip.anime .tooltipster-box .tooltipster-content .inner .desc label, .tooltipster-sidetip.anime .tooltipster-box .tooltipster-content .inner .meta label, .tooltipster-sidetip.anime .tooltipster-box .tooltipster-content .inner .title h1, .widget .widget-title .title, .widget .widget-title .title h1, .widget .widget-title .title h2, .widget .widget-title .title h3, .widget.az-list ul.letters, .widget.az-list ul.letters li, .widget.genres ul, .widget.genres ul li, .widget.info .info .head .title, .widget.servers ul.episodes, .widget.servers ul.episodes li, .widget.slider .item .info p {
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget.servers .range {
    margin: 5px 0;
    margin-bottom: 12px;
    padding: 0 3px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 9px;
}

.widget.servers ul.episodes li {
    display: inline-block;
}
body.dark .widget.servers ul.episodes li a.active, body.dark .widget.servers ul.episodes li a:hover {
    background: #c20000;
    color: #ddd;
}
body.dark .widget.servers ul.episodes li a:visited {
    background: #332a46;
    color: #676767;
}
body.dark .widget.servers ul.episodes li a {
    background: #28262f;
    color: #747474;
    border: none;
}
.widget.servers ul.episodes li a:visited {
    background: #eee;
    border-color: #cabee1;
}
.widget.servers ul.episodes li a {
    display: block;
    height: 28px;
    line-height: 28px;
    min-width: 38px;
    padding: 0 8px;
    text-align: center;
    font-weight: 300;
    margin: 4px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: #eee;
    color: #8c8c8c;
    border-bottom: 1px solid #eee;
    font-size: 1.05rem;
}
.widget.servers ul.episodes li a.active {
    background-color: #c20000;
    color: #fff;
}
body.dark a {
    color: #c20000;
}
a {
    color: #c20000;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.m-container.m-container--responsive.m-container--xxl {
    width: 100%;
}   

.mr-auto, .mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.irs-from, .irs-single, .irs-to {
    color: #fff;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #c20000;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fc-right_slider {
    float: right;
}

.fc-left_slider {
    float: left;
}

video#player {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.row_watch {
    /* display: flex; */
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 15px;
}
.col-xl-12_watch{    
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    display: inline-block;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 25px;
    background: #c20000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.input-group-addon, .input-group-btn {
    width: 0; 
    white-space: nowrap;
    vertical-align: middle;
}

.btn_edit {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 6px;
}

.btn_edit:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn_edit.green-haze:not(.btn-outline) {
    color: #FFFFFF;
    background-color: #c20000;
    border-color: #c20000;
}
.btn_edit:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}

.container {
    max-width: 100%;
}

div.widget.servers {
    width: 100%;
}

.login .logo_new {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.m-header-search .m-header-search__wrapper_2 {
    display: table;
    table-layout: fixed;
    text-align: right;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px !important;
    background-color: #fff;
}

.portlet.light.bordered {
    border: 4px solid #e7ecf1!important;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.portlet.bordered {
    border-left: 2px solid #e6e9ec!important;
}
.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
}
.dashboard-stat, .portlet {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.table_2 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0rem;
    background-color: transparent;
}